@import 'tailwindcss';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}
@theme{

  --color-brown : #825534;
  --color-grey: #8c8d8b;
  --color-green : #445737;
  --color-grayLight: #f7f7f7;
  --color-borderGrey: #ebebea;
  

}

.cards{
  @apply bg-white border border-borderGrey shadow-md rounded-[8px] p-6 flex flex-col items-center justify-between h-full text-center text-balance
}




