@import 'tailwindcss';

:root {
  font-family: Archivo, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
}

@font-face {
  font-family: 'Archivo';
  src: url('./assets/font/Archivo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo-Bold';
  src: url('./assets/font/Archivo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-brown: #825534;
  --color-grey: #8c8d8b;
  --color-green: #445737;
  --color-grayLight: #f7f7f7;
  --color-borderGrey: #ebebea;
  --color-cs-beige: #ecedea;
  --color-cs-card: #eceeeb;
  --color-hp-clients: #242524;
  --color-nv-bg: #f9f2e0;
  --color-darkgrey: #434543;
  --color-bg-services: rgba(255, 255, 255, 0.7);

  --color-bg-crm: #e8e1c5;
  --color-lpc-bg: #fafafb;
  --color-lpAppBray-bg: #dee1e6;

}

.cards {
  @apply bg-white border border-borderGrey shadow-md rounded-[8px] p-6 flex flex-col items-center justify-between h-full text-center text-balance;
}

.bar {
  @apply p-4 border border-borderGrey rounded-[6px] size-fit sm:hover:bg-green sm:hover:text-white hover:bg-green hover:text-white;
}

.textNavbar {
  @apply text-gray-700 hover:text-green px-3 py-2 text-[16px]  transition-colors duration-200;
}
